<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Update User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>update a User:</h1>
<form th:action="@{/api/addUser}" th:object="${user}" method="POST">


    Id to be changed:
    <input type="number" th:field="*{id}" />
    Name:
    <input type="text" th:field="*{name}" >
    Age:
    <input type="number" th:field="*{age}">
    <button type="submit" class="btn btn-info col-2"> Update a User</button>
</form>
<br/>

<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">
    ...
</div>
</body>
</html>